<h3><%= @doctor.name %></h3>
<p>Department: <%= @doctor.department %></p>
<p>Appointments: <% @doctor.appointments.each do |appt| %></p>
    Date and time: <%= appt.formatted_datetime %><br>
    Patient: <%= link_to appt.patient.name, patient_path(appt.patient) %>
    <% end %>
